body {
    min-height: 90vh;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b2d31;
    margin: 0;
    margin-inline: auto;
    overflow-x: hidden;
  }



.tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin-top: 5rem;
  }

.tarefas_header {
    width: 100%;
    border-bottom: 1px solid #3c4043;
}

.tarefas_header h1 {
    font-size: 30px; 
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
}

.tarefas_sem_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.tarefas_sem_conteudo p.primeiro_paragrafo{
    font-size: 1.5rem;
    font-weight: 500;
    
}

.tarefas_sem_conteudo p.segundo_paragrafo{
    font-size: 1.5rem;
    font-size: 0.875rem;
    color: #bdbdbd;
}

.tarefas_com_conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tarefas_com_conteudo{
    margin: 32px;
}

.tarefas_btn_add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #bdbdbd;
    width: 100%;
    padding: 20px 16px;
    border: 3px dashed #bdbdbd; 
    border-radius: 8px;
    margin-bottom: 16px; 

}

.tarefas_btn_add:hover {
    color: white;
    border: 0.125rem solid white;
    border-style: dashed;
}


.nav_bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: #333435;
    display: flex;
    flex-direction: column;
    padding: 0  9.96rem;
    z-index: 2;
    visibility: hidden;
    transition: max-width 300ms ease-in-out
}

.nav_bar.open {
    opacity: 1;
    visibility: visible;
    transition: max-width 300ms ease-in-out;
  }

.nav_bar_conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7rem;
}

.nav_bar_add_tarefas.open{
    visibility: visible;
}
.nav_bar_btn_fechar {
    display: flex;
    position: absolute;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 0.5rem;
    transition: background-color 200ms ease-in-out;
}

.nav_bar_btn_fechar img {
    width: 20px;
    border-radius: 5rem;
}

.nav_bar_btn_fechar:hover {
    background-color: #3c4043;
}

.nav_bar_header {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    
}


.nav_bar_forms label {
    font-size: 18px;
    color: #ccc;
}

.nav_bar_forms input{
    width: 100%;
    height: 20px; 
    padding: 10px;
    border: 1px solid #333;
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 18px;
    resize: none; 
    outline: none;
    margin-bottom: 3rem;
    
}

.nav_bar_forms textarea {
    width: 100%;
    height: 120px; 
    padding: 10px;
    border: 1px solid #333;
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 18px;
    resize: none; 
    outline: none;
    margin-bottom: 7rem;
}

.nav_bar_forms div:last-child {
    display: flex;
    justify-content: flex-end; 
    gap: 10px;
}



.tarefa_btn_fechar {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 10px;
}

.tarefa_btn_salvar {
    background-color: #114593;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    width: 45%;
}

.tarefa_btn_fechar:hover {
    background-color: #868383;
}

.tarefa_btn_salvar:hover {
    background-color: #07357a;
}





h1,h2,h3,p {
  padding: 0;
  margin: 0;
}

button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;

  }

@media screen and (max-width: 767px) {
    .tarefas {
        width: 100%;
        padding: 0 2rem;
        }
    .nav_bar {
        width: 100%;
    }
    .nav_bar_conteudo {
        width: 100%;
    }
}

@media screen and (max-width: 412px) {
    .tarefas {
        padding: 0 1rem;

        }

    .tarefas_item_header {

    }
    }